apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ cert_name }}
  namespace: default
spec:
  secretName: {{ cert_name }}-secret
  issuerRef:
    name: {{ issuer_name | default('vmstation-ca-issuer') }}
    kind: ClusterIssuer
  commonName: {{ ansible_fqdn | default('vmstation.local') }}
  dnsNames:
  {% for dns in dns_names %}
  - {{ dns }}
  {% endfor %}