---
apiVersion: v1
kind: Namespace
metadata:
  name: jellyfin
  labels:
    name: jellyfin
    app.kubernetes.io/name: jellyfin
    app.kubernetes.io/instance: jellyfin
    app.kubernetes.io/version: "{{ jellyfin_version | default('latest') }}"
    app.kubernetes.io/component: media-server
    app.kubernetes.io/part-of: vmstation